@font-face {
  font-family: "irohamaru mikami";
  src: url("irohamaru mikami.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
    font-family: 'irohamaru mikami';
}

div {
    margin: auto;
    text-align: center;
}

#due {
    position: absolute;
    right: 1vh;
    bottom: 1vh;
    min-width: 6vh;
    border-radius: 2vh;
    text-align: center;
    border: 2px solid black;
    white-space: pre;
    font-size: 4vh;
    background-color: #88d0ff;
}

#choices {
    width: min-content;
    display: grid;
    grid-template-columns: auto auto;
}

#card {
    font-size: 12vh;
    text-align: center;
}

#question {
    font-size: 12vh;
    margin: -2vh auto;
}

#hint {
    font-size: 4vh;
    white-space: pre;
    position: relative;
    top: 1.9vh;

}

#extra-hint {
    font-size: 2vh;
    line-height: 2.2vh;
    height: 2.2vh;
}

button {
    width: 20vh;
    height: 8vh;
    font-size: 4vh;
    margin: 1vh;
    border-radius: 2vh;
}

#answer {
    width: 36vh;
    padding: 1.3vh 0;
    font-size: 4vh;
    border-radius: 2vh;
    text-align: center;
}

#info {
    margin-top: 1vh;
    font-size: 3vh;
    white-space: pre;
}

.correct {
    background-color: #44ff44;
}
.incorrect {
    background-color: #ff4444;
}
