@font-face {
  font-family: "irohamaru mikami";
  src: url("irohamaru mikami.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: 'irohamaru mikami';
}

div {
    width: min-content;
    margin: auto;
}

#due {
    position: absolute;
    right: 1vh;
    bottom: 1vh;
    padding: 1vh;
    min-width: 6vh;
    border-radius: 2vh;
    text-align: center;
    border: 2px solid black;
    white-space: pre;
    font-size: 4vh;
    background-color: #88d0ff;
}

#choices {
    display: grid;
    grid-template-columns: auto auto;
}

#kanji {
    font-size: 12vh;
}

#meaning {
    font-size: 4vh;
    white-space: pre;
}

button {
    width: 16vh;
    height: 8vh;
    font-size: 4vh;
    margin: 1vh;
    border-radius: 2vh;
}

#answer {
    width: 36vh;
    height: 8vh;
    font-size: 4vh;
    border-radius: 2vh;
    text-align: center;
}

.correct {
    background-color: #44ff44;
}
.incorrect {
    background-color: #ff4444;
}
